/* El cuerpo de la página tendrá un color de fondo negro. */
body{
    background-color: black;
}

/* El título de tamaño H1 será:
o Fuentes de tipo: Book Antiqua, Century Gothic y Garamond y tamaño 24 px.
o Letra de color blanco y negrita.
o Espaciado entre letras: 0.5 em.
o Centrado.
o Un marco de color azul claro en el que sólo se verán las líneas superior e inferior. */
h1 {
    font-family: 'Book Antiqua', 'Century Gothic', 'Garamond';
	font-size: 24px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-align: center;
    width: 100%;
    border-top: blue 2px solid;
    border-bottom: blue 2px solid;
}

/* Una clase para los párrafos llamada ‘miparrafo’ con:
o Fuente tipo: Georgia o Times New Roman y tamaño 15 px.
o Letra de color blanco.
o Separación entre líneas equivalente al 150% de la separación normal. */
.miparrafo {
    font-family: 'Georgia', 'Times New Roman';
    font-size: 15px;
    letter-spacing: 150%;
    color: white;
}

/* Hipervínculos no visitados:
o Fuente tipo: Courier New, tamaño 16 px.
o Color de blanco y negrita.
o Fondo gris oscuro.
o Espaciado entre letras: 0,2 em
o No subrayado */
a:link {
    font-family: 'Courier New';
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #2d2d2d;
    letter-spacing: 0.2em;
    text-decoration: none;
}

/* Hipervínculos con el ratón encima:
o Fuente: Courier New, tamaño 16 px.
o Color de letra negro y negrita.
o Fondo blanco. */
a:hover{
    font-family: 'Courier New';
    color: black;
    font-weight: bold;
    background-color: white;
}